<!DOCTYPE html>
<html lang="es">
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- PWA desde aqui segun el video-->
        <!-- Para pintar de color la barra de navegador de un navegador-->
        <meta name="theme-color" content="#222">
        <!-- Para decirle a los navegadores que tu sitio esta optimizado para moviles y que el sitio es amigable -->
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <!-- PWA para apple-->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <!-- icono-->
        <link rel="shortcut icon" type="image/png" href="../../assets/img/ico.png">
        <!-- Pantalla de inicio-->
        <link rel="apple-touch-icon" href="../../assets/img/ico.png">
        <link rel="apple-touch-startup-image" href="../../assets/img/ico.png">
        <!-- importante -->
        <link rel="manifest" href="manifest.json">



        <title>CAP-21 PWA</title>

        <!-- Vendors -->

         <!-- Vendors -->

        <!-- Animate CSS -->
        <link href="../../vendors/animate.css/animate.min.css" rel="stylesheet">

         <!-- Material Design Icons -->
         <link href="../../vendors/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">

         <!-- Malihu Scrollbar -->
         <link href="../../vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">

        <!-- Full Calendar -->
        <link href="../../vendors/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">

        <!-- Bootstrap Date/Time picker -->
        <link href="../../vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

        <!-- Select 2 -->
        <link href="../../vendors/select2/dist/css/select2.min.css" rel="stylesheet">

        <!-- Site CSS -->
        <link href="../../assets/css/app-1.min.css" rel="stylesheet">

        <!-- Page loader -->
        <script src="../../assets/js/page-loader.min.js"></script>

        <!-- backdrop CRGT STYLE  -->
        <link href="../../assets/css/bacdrop.css" rel="stylesheet">
    </head>
    
    <body>
        <!-- backdrop CRGT  -->
        <div id="validate-modal" class="modal-validate">
            <div class="modal-validate-content">
                <p id="modal-text"></p>
            </div>
        </div>
        
        <!-- Page Loader -->
        <div id="page-loader">
            <div class="preloader preloader--xl preloader--light">
                <svg viewBox="25 25 50 50">
                    <circle cx="50" cy="50" r="20" />
                </svg>
            </div>
        </div>

        <!-- Header -->
        <header id="header">
            <div class="logo">
                <a href="index.html"  class="hidden-xs" align="center">
                    CAP-21
                    <small>Sistema de Cobro</small>
                </a>
                <i class="logo__trigger zmdi zmdi-menu" data-mae-action="block-open" data-mae-target="#navigation"></i>
            </div>

            <ul class="top-menu">

                <li class="top-menu__trigger hidden-lg hidden-md">
                    <h4 style="margin-left: -30%;">CAP-21</h4>
                    <h6 style="margin-left: -55%;">Sistema Cobro OTB</h6>
                </li>
                
                <li class="top-menu__apps dropdown hidden-xs hidden-sm">
                    <a data-toggle="dropdown" href="index.html">
                        <i class="zmdi zmdi-globe"></i>
                    </a>
                    <!-- <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="">
                                    <i class="zmdi zmdi-cloud-off"></i>
                                    <small>Problemas</small>
                                </a>
                            </li>
                              <li>
                                  <a href="">
                                      <i class="zmdi zmdi-calendar"></i>
                                      <small>Calendario</small>
                                  </a>
                              </li>
                              <li>
                                  <a href="">
                                      <i class="zmdi zmdi-trending-up"></i>
                                      <small>Reportes</small>
                                  </a>
                              </li>
                          </ul> -->
                </li>
                <li class="dropdown hidden-xs">
                    <a data-toggle="dropdown" href=""><i class="zmdi zmdi-more-vert"></i></a>
                    <ul class="dropdown-menu dropdown-menu--icon pull-right">
                        <li class="hidden-xs">
                            <a data-mae-action="fullscreen" href=""><i class="zmdi zmdi-fullscreen"></i> Pantalla Completa</a>
                        </li>
                        <li>
                            <a data-mae-action="clear-localstorage" href=""><i class="zmdi zmdi-delete"></i> Eliminar Caches</a>
                        </li>
                    </ul>
                </li>
                <li class="top-menu__alerts" data-mae-action="block-open" data-mae-target="#notifications" data-toggle="tab" data-target="#notifications__messages">
                    <a href=""><i class="zmdi zmdi-widgets"></i></a>
                </li>
                <!-- <li class="top-menu__profile dropdown">
                    <a data-toggle="dropdown" href="">
                        <img src="../../assets/img/usuarios/images.png" alt="">
                    </a>

                    <ul class="dropdown-menu pull-right dropdown-menu--icon">
                        <li>
                            <a href="perfil.html"><i class="zmdi zmdi-account"></i> Ver Perfil</a>
                        </li>
                        <li>
                            <a href=""><i class="zmdi zmdi-input-antenna"></i> Comprobar Red</a>
                        </li>
                        <li>
                            <a data-mae-action="fullscreen" href=""><i class="zmdi zmdi-fullscreen"></i> Pantalla Completa</a>
                        </li>
                        <li>
                            <a href="../../index.html"><i class="zmdi zmdi-time-restore"></i> Salir</a>
                        </li>
                    </ul>
                </li> -->
            </ul>

             

            <form class="top-search">
                <input type="text" class="top-search__input" placeholder="Busquemos por número de recibo.." disabled>
                <i class="zmdi zmdi-search top-search__reset"></i>
            </form>
        </header>

        <section id="main">
            <aside id="notifications">
                <ul class="tab-nav tab-nav--justified tab-nav--icon">
                    <li><a class="user-alert__messages" href="#notifications__messages" data-toggle="tab"><i class="zmdi zmdi-balance"></i></a></li>
                    <li><a class="user-alert__notifications" href="#notifications__updates" data-toggle="tab"><i class="zmdi zmdi-email"></i></a></li>
                    <li><a class="user-alert__tasks" href="#notifications__tasks" data-toggle="tab"><i class="zmdi zmdi-assignment-account"></i></a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane" id="notifications__messages">
                        <div id="contacto">
                        <div class="list-group">
                            <!-- <a class="list-group-item media">
                                <div class="pull-left">
                                    <img class="avatar-img" src="../../assets/img/usuarios/man.png" alt="">
                                </div>

                                <div class="media-body">
                                    <div class="list-group__heading">Fulano Villa Jacobs</div>
                                    <small class="list-group__text">Directiva - 79866165</small>
                                </div>
                            </a>

                            <a href="" class="list-group-item media">
                                <div class="pull-left">
                                    <img class="avatar-img" src="../../assets/img/usuarios/boy-1.png" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="list-group__heading">Fulana de Barnes</div>
                                    <small class="list-group__text">Directiva - 79866165</small>
                                </div>
                            </a>

                            <a href="" class="list-group-item media">
                                <div class="pull-left">
                                    <img class="avatar-img" src="../../assets/img/usuarios/girl-7.png" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="list-group__heading">Fulanito de Lawson</div>
                                    <small class="list-group__text">Directiva - 79866165</small>
                                </div>
                            </a>

                            <a href="" class="list-group-item media">
                                <div class="pull-left">
                                    <img class="avatar-img" src="../../assets/img/usuarios/girl-5.png" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="list-group__heading">Fulanita de Mckinney</div>
                                    <small class="list-group__text">Directiva - 79866165</small>
                                </div>
                            </a>

                            <a href="" class="list-group-item media">
                                <div class="pull-left">
                                    <img class="avatar-img" src="../../assets/img/usuarios/boy-4.png" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="list-group__heading">Fulanisos Rudolph Perez</div>
                                    <small class="list-group__text">Directiva - 79866165</small>
                                </div>
                            </a> -->
                        </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="notifications__updates">
                        <!-- <div class="card__header card__header--highlight text-center">
                            <img src="../../assets/img/not.png" width="40%" class="widgset-profile__img" alt="">
                            <h2>Mensaje CAP-21<small>Se capturara la hora y fecha</small> </h2>

                            <button class="btn btn--float" href="avisos.html" ><i class="zmdi zmdi-email-open"></i></button>
                        </div> -->
                        <div id="mensajeNotificacion">
                        <div class="list-group">
                            <a class="list-group-item media" data-toggle="modal" href="#modal--large">
                                <div class="pull-right">
                                    <img class="avatar-img" src="../../assets/img/usuarios/boy-3.png" alt="">
                                </div>

                                <div class="media-body">
                                    <div class="list-group__heading">Fulano Villa Jacobs</div>
                                    <small class="list-group__text">Mensaje CAP-21</small>
                                </div>
                            </a>

                            <a class="list-group-item media" data-toggle="modal" href="#modal--large">
                                <div class="pull-right">
                                    <img class="avatar-img" src="../../assets/img/usuarios/girl.png" alt="">
                                </div>
                                <div class="list-group__heading">Fulana Candice Barnes</div>
                                <small class="list-group__text">Mensaje CAP-21</small>
                            </a>

                            <a class="list-group-item media" data-toggle="modal" href="#modal--large">
                                <div class="pull-right">
                                    <img class="avatar-img" src="../../assets/img/usuarios/girl.png" alt="">
                                </div>
                                <div class="list-group__heading"> Fulanillo Jeannette Lawson</div>
                                <small class="list-group__text">Mensaje CAP-21</small>
                            </a>

                            <a class="list-group-item media" data-toggle="modal" href="#modal--large">
                                <div class="pull-right">
                                    <img class="avatar-img" src="../../assets/img/usuarios/boy-4.png" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="list-group__heading">Filancirigillo </div>
                                    <small class="list-group__text">Mensaje CAP-21</small>
                                </div>
                            </a>

                            <a class="list-group-item media" data-toggle="modal" href="#modal--large">
                                <div class="pull-right">
                                    <img class="avatar-img" src="../../assets/img/usuarios/girl.png" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="list-group__heading">Rudolph Perez</div>
                                    <small class="list-group__text">Mensaje CAP-21</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    </div>

                    <div class="tab-pane" id="notifications__tasks">
                        <div class="card widget-profile">
                            <div class="card__header card__header--highlight text-center">
                                <img src="../../assets/img/hab.png" width="30%" alt=""><br><br>
                                <h2>Operador Técnico<small>¿Decea actualizar su cuenta?</small> </h2>

                                <button class="btn btn--float"><i class="zmdi zmdi-power"></i></button>
                            </div>

                            <form>
                                <div class="login__block__body">
                
                                    <div class="form-group form-group--float form-group--centered">
                                        <input type="text" name="email" class="form-control">
                                        <label>Usuario nuevo</label>
                                        <i class="form-group__bar"></i>
                                    </div>
                
                                    <div class="form-group form-group--float form-group--centered">
                                        <input id="passRemenber" type="password" name="contrasena" class="form-control" autocomplete="off"/>
                                        <label>Contraseña nueva</label>
                                        <i class="form-group__bar"></i>
                                    </div>
                
                                    <div class="input-centered">
                                        <h3 align="center"><button class="btn btn--light btn--icon m-t-15"><i class="zmdi zmdi-plus"></i></button></h3>
                                    </div>
                
                                    
                                </div>
                                <!-- <a href="" class="btn btn--float">
                                    <i class="zmdi zmdi-plus"></i>
                                </a> -->
                                </form>
                        </div>
                        <!-- <div class="list-group">
                            <div class="list-group-item">
                                <div class="list-group__heading m-b-5">Rendimiento CAP-21 onLine</div>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                                        <span class="sr-only">95% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="list-group__heading m-b-5">Rendimiento CAP-21 offLine</div>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                        <span class="sr-only">95% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="list-group__heading m-b-5">Caches del navegador </div>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="list-group__heading m-b-5">Rendimiento del Sistema</div>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="list-group__heading m-b-5">Tiempo de Actualizacion</div>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                       
                    </div>
                </div>
            </aside>

            <aside id="navigation">
                <div class="navigation__header">
                    <i class="zmdi zmdi-long-arrow-left" data-mae-action="block-close"></i> <h4 align="center" style="margin-top: -30px;">CAP-21</h4>
                </div>

                <div class="navigation__toggles">
                    <a href="" data-mae-action="block-open" data-mae-target="#notifications" data-toggle="tab" data-target="#notifications__messages">
                        <i class="zmdi zmdi-balance"></i>
                    </a>
                    <a href="" data-mae-action="block-open" data-mae-target="#notifications" data-toggle="tab" data-target="#notifications__updates">
                        <i class="zmdi zmdi-email"></i>
                    </a>
                    <a href=""  data-mae-action="block-open" data-mae-target="#notifications" data-toggle="tab" data-target="#notifications__tasks">
                        <i class="zmdi zmdi-assignment-account"></i>
                    </a>
                </div>

                <div class="navigation__menu c-overflow">
                    <ul>
                        <li class="navigation__active">
                            <a href="#"><i class="zmdi zmdi-home"></i> Tablero</a>
                        </li>
                        <li><a href="cobroFacturacion.html"><i class="zmdi zmdi-layers"></i> Cobro y facturación</a></li>
                        <li class="navigation__sub">
                            <a href="" data-mae-action="submenu-toggle"><i class="zmdi zmdi-collection-text"></i> Lecturas</a>
                            <ul>
                                <li><a href="lecturaMedidor.html">Medidor</a></li>
                                <li><a href="lecturaReunion.html">Reuniones</a></li>
                            </ul>
                        </li>
                        <li class="navigation__sub">
                            <a href="" data-mae-action="submenu-toggle"><i class="zmdi zmdi-widgets"></i> Acciones</a>

                            <ul>
                                <li><a href="registroAccion.html">Registro de aciones</a></li>
                            </ul>
                        </li>
                        
                        
                        <li class="navigation__sub">
                            <a href="" data-mae-action="submenu-toggle"><i class="zmdi zmdi-trending-up"></i>Reportes</a>
                            <ul>
                                <li><a href="reporteConsumoAgua">Consumo de Agua</a></li>
                                <li><a href="reporteAsamblea">Asambleas</a></li>
                            </ul>
                        </li>
                        
                        
                        <li class="navigation__sub">
                            <a href="" data-mae-action="submenu-toggle"><i class="zmdi zmdi-collection-item"></i> Configuración</a>
                            <ul>
                                <li><a href="avisos.html">Avisos</a></li>
                                <li><a href="backup.html">Backup (BD)</a></li>
                                
                            </ul>
                        </li>
                    </ul>
                </div>
            </aside>

            
            <section id="content">

                <div class="row">
                    <div class="content__header">
                        <h2>Tablero Avanzado</h2>

                        <div class="actions">
                            <div class="dropdown">
                                <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="">Refrescar</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        
                        
                        <div class="row pricing-table">
                            <div class="col-sm-6">
                                <div class="pricing-table__item">
                                    <div class="pricing-table__header">
                                        <h2 align="center"><img src="../../assets/img/tanke3.png" width="30%" alt=""></h2>
                                    </div>
                                    <form name="formularioDescuento" id="formularioDescuento">
                                    <div class="alert alert-info">DESCUENTO COBRO DE AGUA</div>
                                    <div class="pricing-table__body">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-face"></i></span>
                                            <div class="form-group">
                                                <input type="text" name="titulo" class="form-control" placeholder="Titulo del descuento">
                                                <i class="form-group__bar"></i>
                                            </div>
                                        </div>

                                        
                                        <div class="pricing-table__list">
                                            <div class="input-group">
                                                <div class="form-group">
                                                    <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                                        <div class="form-group">
                                                        <input type='text'name="fechaInicio" class="form-control date-picker" placeholder="Fecha Inicio...">
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                                </div>
                                                    <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                                    <div class="form-group">
                                                        <input type='text'name="fechaFin" class="form-control date-picker" placeholder="Fecha Fin...">
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="zmdi zmdi-money-box"></i></span>
                                                <div class="form-group">
                                                    <input type="number" name="monto" class="form-control" placeholder="Ingrese el monto">
                                                    <i class="form-group__bar"></i>
                                                </div>
                                            </div><br>
                                        </div>

                                        <div class="col-sm-3">
                                            <span class="input-group-addon"><button type="submit" class="btn btn-default btn--icon"><i class="zmdi zmdi-mail-send"></i></button></span><br>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="pricing-table__item">
                                    <div class="pricing-table__header">
                                        <h2 align="center"><img src="../../assets/img/hab.png" width="30%" alt=""></h2>
                                    </div>

                                    <div class="alert alert-success">NUEVO ADMINISTRADOR </div>
                                    Un Administrador tendra acceso a <br> lectura y escritura del sistema <br><br>
                                    <div class="pricing-table__body">
                                        
                                        <form name="formularioAdmin" id="formularioAdmin">
                                            <div class="col-sm-9">
    
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="zmdi zmdi-face"></i></span>
                                                    <div class="form-group">
                                                        <input type="text" name="user" class="form-control" placeholder="Escriba su usuario" required autofocus>
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                                </div><br>
    
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                                                    <div class="form-group">
                                                        <input type="password" name="pass" class="form-control" placeholder="Escriba su contraseña">
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                                </div><br>
                                                    
                                            </div>
    
                                            <div class="col-sm-3">
    
                                                <br><span class="input-group-addon"><button type="submit" class="btn btn-default btn--icon"><i class="zmdi zmdi-thumb-up"></i></button></span><br>
                                                    
                                            </div>
                                        </form>

                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>

                    <div class="col-md-5">
                        <div class="card widget-analytic">
                            <div class="card__header">
                                <h2 align="center"><img src="../../assets/img/direc.png" width="40%" alt=""> <br><br> <small>Lista de Administradores del sistema CAP-21.</small></h2>
                            </div>
                            <div class="list-group list-group--striped">
                                <div class="list-group-item media">
                                    <div class="pull-left">
                                        <img class="avatar-img" src="../../assets/img/usuarios/boy-5.png" alt="">
                                    </div>
                                    <div class="pull-right">
                                        <div class="actions">
                                            <div class="dropdown">
                                                <a data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>
    
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="">Eliminar Administrador</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div class="list-group__heading"> Usuario: admin@otb21.com </div>
                                        <small class="list-group__text">Contraseña: **********</small>
                                    </div>
                                </div>
    
                                <div class="list-group-item media">
                                    <div class="pull-right">
                                        <div class="actions">
                                            <div class="dropdown">
                                                <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>
    
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="">Eliminar Administrador</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-left">
                                        <img class="avatar-img" src="../../assets/img/usuarios/boy-5.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="list-group__heading"> Usuario: juvenal@otb21.com </div>
                                        <small class="list-group__text">Contraseña: **************</small>
                                    </div>
                                </div>
    
                                <div class="list-group-item media">
                                    <div class="pull-right">
                                        <div class="actions">
                                            <div class="dropdown">
                                                <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>
    
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="">Eliminar Administrador</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-left">
                                        <img class="avatar-img" src="../../assets/img/usuarios/boy-5.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="list-group__heading"> Usuario: eliceo@otb21.com </div>
                                        <small class="list-group__text">Contraseña: **************</small>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div id="content__grid" data-columns>
                    <div class="card widget-analytic">
                        <div class="card__header">
                            <h2 align="center"><img class="avatar-img" src="../../assets/img/usuarios/ees.png" alt=""> <br><br> Costo por cubo de agua<small>Esta acción realizara cambios en todos los socios activos del sistema.</small></h2>

                            <div class="actions">
                                <div class="dropdown">
                                    <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="">Registrar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <form name="formularioCuboAgua" id="formularioCuboAgua">
                            <div class="card__body">
                            <div class="input-group">
                                <div class="form-group">
                                    <span class="input-group-addon"></span>
                                    <div class="form-group">
                                        <input type="text" class="form-control text-center" placeholder="Bs.- 1.00" disabled>
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                                <span class="input-group-addon"><button type="submit" class="btn btn-default btn--icon"><i class="zmdi zmdi-invert-colors"></i></button></span>
                                <div class="form-group">
                                    <input type="number" name="cuboAgua" class="form-control text-center" placeholder="Bs.- ">
                                    <i class="form-group__bar"></i>
                                </div>
                             </div>
                            </div>
                        </form>
                    </div>

                    <div class="card widget-analytic">
                        <div class="card__header">
                            <h2 align="center"><img class="avatar-img" src="../../assets/img/usuarios/ees.png" alt=""> <br><br> Multa consumo de agua<small>Esta acción realizara cambios en todos los socios activos del sistema.</small></h2>

                            <div class="actions">
                                <div class="dropdown">
                                    <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="">Registrar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <form name="formularioConsumoAgua" id="formularioConsumoAgua">
                            <div class="card__body">
                                <div class="input-group">
                                    <div class="form-group">
                                        <span class="input-group-addon"></span>
                                        <div class="form-group">
                                            <input type="text" class="form-control text-center" placeholder="Bs.- 30.00" disabled>
                                            <i class="form-group__bar"></i>
                                        </div>
                                    </div>
                                    <span class="input-group-addon"><button type="submit" class="btn btn-default btn--icon"><i class="zmdi zmdi-format-color-fill"></i></button></span>
                                    <div class="form-group">
                                        <input type="number" name="multaConsumoAgua" class="form-control text-center" placeholder="Bs.- ">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            </form>
                    </div>

                    <div class="card widget-analytic">
                        <div class="card__header">
                            <h2 align="center"><img class="avatar-img" src="../../assets/img/usuarios/ees.png" alt=""> <br><br> Cambio de nombre<small>Esta acción realizara cambios en todos los socios activos del sistema.</small></h2>

                            <div class="actions">
                                <div class="dropdown">
                                    <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="">Registrar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <form name="formularioCambioNombre" id="formularioCambioNombre">
                            <div class="card__body">
                                <div class="input-group">
                                    <div class="form-group">
                                        <span class="input-group-addon"></span>
                                        <div class="form-group">
                                            <input type="text" class="form-control text-center" placeholder="Bs.- 500.00" disabled>
                                            <i class="form-group__bar"></i>
                                        </div>
                                    </div>
                                    <span class="input-group-addon"><button type="submit" class="btn btn-default btn--icon"><i class="zmdi zmdi-balance"></i></button></span>
                                    <div class="form-group">
                                        <input type="number" name="cambioNombre" class="form-control text-center" placeholder="Bs.- ">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            </form>
                    </div>
                    
                </div>
                <div id="content__grid" data-columns>
                    <div class="card widget-analytic">
                        <div class="card__header">
                            <h2 align="center"><img class="avatar-img" src="../../assets/img/usuarios/ees.png" alt=""> <br><br> Minimo cancelación<small> Ingrese el monto minimo de cancelación, esta acción ejecutara a partir de la actualización.</small></h2>

                            <div class="actions">
                                <div class="dropdown">
                                    <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="">Registrar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <form name="formularioMinimoCancelacion" id="formularioMinimoCancelacion">
                        <div class="card__body">
                            <div class="input-group">
                                <div class="form-group">
                                    <span class="input-group-addon"></span>
                                    <div class="form-group">
                                        <input type="text" class="form-control text-center" placeholder="Bs.- 10.00" disabled>
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                                <span class="input-group-addon"><button class="btn btn-default btn--icon"><i class="zmdi zmdi-invert-colors"></i></button></span>
                                <div class="form-group">
                                    <input type="number" name="minimoCancelacion" class="form-control text-center" placeholder="Bs.- ">
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>

                    <div class="card widget-analytic">
                        <div class="card__header">
                            <h2 align="center"><img class="avatar-img" src="../../assets/img/usuarios/ees.png" alt=""> <br><br> Meses para multa<small>Debe ingresar la cantidad de meses para ejecutar la multa en todas las cuentas del CAP.</small></h2>

                            <div class="actions">
                                <div class="dropdown">
                                    <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="">Registrar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <form name="formularioMesesMulta" id="formularioMesesMulta">
                        <div class="card__body">
                            <div class="input-group">
                                <div class="form-group">
                                    <span class="input-group-addon"></span>
                                    <div class="form-group">
                                        <input type="text" class="form-control text-center" placeholder="Ejemplo: 3" disabled>
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                                <span class="input-group-addon"><button class="btn btn-default btn--icon"><i class="zmdi zmdi-format-color-fill"></i></button></span>
                                <div class="form-group">
                                    <input type="number" name="mesesMulta" class="form-control text-center" placeholder="Ingrese un número">
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>

                    <div class="card widget-analytic">
                        <div class="card__header">
                            <h2 align="center"><img class="avatar-img" src="../../assets/img/usuarios/ees.png" alt=""> <br><br> Pro Fondo<small>Debe ingresar un monto para acciones del CAP (Nuevo Pozo, Limpieza, tuberias).</small></h2>

                            <div class="actions">
                                <div class="dropdown">
                                    <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="">Registrar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <form name="formularioProFondo" id="formularioProFondo">
                        <div class="card__body">
                            <div class="input-group">
                                <div class="form-group">
                                    <span class="input-group-addon"></span>
                                    <div class="form-group">
                                        <input type="text" class="form-control text-center" placeholder="Bs.- 00.00" disabled>
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                                <span class="input-group-addon"><button class="btn btn-default btn--icon"><i class="zmdi zmdi-balance"></i></button></span>
                                <div class="form-group">
                                    <input type="number" name="proFondo" class="form-control text-center" placeholder="Bs.- ">
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    
                </div>

                
              </section>
              
              <!-- <script src="assets/app.js"></script> -->


            <footer id="footer">
                    Copyright &copy; s@u-Crgt 2020
    
                    <ul class="footer__menu">
                        <li><a href="#">¿Problemas?</a></li>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">¡Soporte!</a></li>
                    </ul>
                </footer>
    
            </section>
    
            <!-- Older IE Warning -->
            <!--[if lt IE 9]>
                <div class="ie-warning">
                    <h1>Warning!!</h1>
                    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                    <div class="ie-warning__container">
                        <ul class="ie-warning__download">
                            <li>
                                <a href="http://www.google.com/chrome/">
                                    <img src="img/browsers/chrome.png" alt="">
                                    <div>Chrome</div>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.mozilla.org/en-US/firefox/new/">
                                    <img src="img/browsers/firefox.png" alt="">
                                    <div>Firefox</div>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.opera.com">
                                    <img src="img/browsers/opera.png" alt="">
                                    <div>Opera</div>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.apple.com/safari/">
                                    <img src="img/browsers/safari.png" alt="">
                                    <div>Safari</div>
                                </a>
                            </li>
                            <li>
                                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                    <img src="img/browsers/ie.png" alt="">
                                    <div>IE (New)</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <p>Sorry for the inconvenience!</p>
                </div>
            <![endif]-->
    
    
            <!-- Javascript Libraries -->
    
           <!-- jQuery -->
           <script src="../../vendors/jquery/dist/jquery.min.js"></script>
    
           <!-- Bootstrap -->
           <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
   
           <!-- Malihu ScrollBar -->
           <script src="../../vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
   
           <!-- Bootstrap Notify -->
           <script src="../../vendors/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
   
           <!-- Moment -->
           <script src="../../vendors/moment/min/moment.min.js"></script>
   
           <!-- Moment -->
           <script src="../../vendors/moment/min/moment.min.js"></script>
   
           <!-- FullCalendar -->
           <script src="../../vendors/fullcalendar/dist/fullcalendar.min.js"></script>
   
           <!-- Salvattore -->
           <script src="../../vendors/salvattore/dist/salvattore.min.js"></script>
   
           <!-- Bootstrap Date/Time Picker -->
           <script src="../../vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
           
           <!-- Select 2 -->
           <script src="../../vendors/select2/dist/js/select2.full.min.js"></script>
   
           <!-- Placeholder for IE9 -->
           <!--[if IE 9 ]>
               <script src="vendors/jquery-placeholder/jquery.placeholder.min.js"></script>
           <![endif]-->
   
          
           <!-- Demo Only -->
           <script src="../../assets/demo/js/calendar.js"></script>

            <!-- Site Functions & Actions -->
            <script src="../../assets/js/app.min.js"></script>
   
           <!-- PWA script -->
           <script src="script.js"></script>
    
            <!-- <script src="../../src/verify.js"></script> -->

             <!-- Objetos Tablero -->
            <!-- <script src="../../src/verify.js"></script> -->
            <script src="../../src/formularioDescuento.js"></script>
            <script src="../../src/formularioAdmin.js"></script>
            <script src="../../src/formularioCuboAgua.js"></script>
            <script src="../../src/formularioConsumoAgua.js"></script>
            <script src="../../src/formularioCambioNombre.js"></script>
            <script src="../../src/formularioMinimoCancelacion.js"></script>
            <script src="../../src/formularioMesesMulta.js"></script>
            <script src="../../src/formularioProFondo.js"></script>
        </body>
    </html>
    